@page
@model VillaWebApp.Pages.HomeModel

<div >
    <h1>Home page to display villas</h1>
    <button class="float-end bg-primary mb-2 text-light border-0" onclick="window.location.href='@Url.Page("/AddVilla")'">Add</button>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Details</th>
            <th>Rate</th>
            
            <th>Occupancy</th>
            <th>Sqft</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
       @foreach(var villa in Model.villas)
        {
            <tr>
                <td>@villa.Id</td>
                <td>@villa.Name</td>
                <td>@villa.Details</td>
                <td>@villa.Rate</td>
               
                <td class="text-center">@villa.Occupancy</td>
                <td>@villa.Sqft</td>
                <td>
                    <a class="bg-info text-light border-0" asp-page="./Edit" asp-route-id="@villa.Id">Edit</a>
                </td >
                <td>
                    <button class="bg-danger text-light border-0">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

